.wrapper {
  display: flex;
  z-index: 2;
}

.wrapper form {
  width: 100%;
  display: flex;
}

.wrapper input {
  flex: 1;
  border-top: 1px solid #222;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.wrapper input::placeholder {
  text-transform: uppercase;
}

.wrapper button {
  background-color: #e49b5a;
  transition: all 0.3s;
  border-top: 1px solid #222;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #222;
  width: 55px;
  cursor: pointer;
  font-size: 16px;
}
