.wrapper {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.date {
  font-family: "Poppins";
  cursor: default;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  background-color: #e49b5a;
  border-top: 1px solid #222;
  padding: 8px 0;
}

.bottom button {
  font-family: "Poppins";
  text-transform: uppercase;
}

.mode {
  z-index: 1;
}
